@model LeaveRequestVM

@{
    ViewData["Title"] = "Leave Request Details";
    string className;
    string headingText;
    if (Model.Approved == null)
    {
        headingText = "Pending Approval";
        className = "warning";
    }
    else if (Model.Approved == true)
    {
        headingText = "Approved";
        className = "success";
    }
    else
    {
        headingText = "Rejected";
        className = "danger";
    }
}

<h2>Leave Request Details</h2>

<div class="alert alert-@className" role="alert">
    <h4 class="alert-heading mb-2">@headingText</h4>
    <p>
        <strong>Employee Name:</strong> @Model.Employee.FirstName @Model.Employee.LastName
    </p>
    <hr />
    <p>
        <strong>Date Requested:</strong> @Html.DisplayFor(model => model.DateRequested)
    </p>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestComments)
        </dd>
        <dd class= "col-sm-10">
            <div>
                @if (Model.Approved == null)
                {
                    <form asp-action="ApproveRequest">
                        <div class="form-group mb-2">
                            <input name="Id" value="@Model.Id" type="hidden" />
                            <input name="approved" type="hidden" value="true" />
                            <button type="submit" class="btn btn-sm btn-success">Approve</button>
                        </div>
                    </form>
                    <form asp-action="ApproveRequest">
                        <div class="form-group mb-2">
                            <input name="Id" value="@Model.Id" type="hidden" />
                            <input name="approved" type="hidden" value="false" />
                            <button type="submit" class="btn btn-sm btn-danger">Reject</button>
                        </div>
                    </form>
                }
                <a class="btn btn-sm btn-dark" asp-action="Index">Back to List</a>
            </div>
        </dd>
    </dl>
</div>

