@model LeaveTypeVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details of @Model.Name</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DefaultDays)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DefaultDays)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-sm btn-dark">Back</a>
    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@Model?.Id">Edit</a>
</div>
